/**
 * Custom styles to immediately follow Tailwind’s `components` layer
 *
 * “Add more opinionated, complex classes like buttons, form controls, alerts,
 * etc; the sort of pre-built components you often see in other frameworks that
 * you might need to override with utility classes.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-components
 */

/**
*
*
* Hero
*
*/

.page-hero--home {
	--sth--page-hero-background: url("./assets/hero_skyline.jpeg");
}

.page-hero {
	background-color: rgb(0, 0, 0);
	background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.8) 0%,
			rgba(0, 0, 0, 0.4) 80%,
			rgba(6, 82, 233, 0.4) 100%
		),
		var(--sth--page-hero-background);
	background-size: cover;
	background-position: 50% 50%;
}

.apart {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 24px 24px;
	grid-auto-flow: row;
}

.apart-top-l {
	grid-area: 1 / 1 / 2 / 3;
}

.apart-top-r {
	grid-area: 1 / 3 / 2 / 5;
}

.apart-bottom {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	gap: 24px 24px;
	grid-auto-flow: row;
	grid-area: 2 / 1 / 3 / 5;
}
