/**
 * Custom styles to immediately follow Tailwind’s `components` layer
 *
 * “Add more opinionated, complex classes like buttons, form controls, alerts,
 * etc; the sort of pre-built components you often see in other frameworks that
 * you might need to override with utility classes.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-components
 */

/**
*
*
* Hero
*
*/

.hero {
	height: 100vh;
	width: 100vw;
	position: relative;
	background: linear-gradient(
		180deg,
		rgb(0, 0, 0) 7%,
		rgba(0, 2.73, 17.09, 0.23) 80%,
		rgba(6, 82, 233, 0.6) 100%
	);
	background-image: url("./assets/hero_skyline.jpeg");
	background-color: rgb(255, 255, 255);
	background-size: cover;
	background-position: 50% 50%;
}

.hero__content-title {
	position: absolute;
	width: 1102px;
	height: 321px;
	top: 367px;
	left: 185px;
	font-family: "Josefin Sans";
	font-weight: 700;
	color: #ffffff;
	font-size: 96px;
	letter-spacing: 0;
	line-height: normal;
}
